@import 'base';

#lp-pom-root {
    &,
    a,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    span {
        font-family: Roboto !important;
    }

    @for $i from 1 through 6 {
        h#{$i} {
            color: $PrimaryBlue;
        }
    }

    #lp-pom-box-354 {
        display: block; // background: linear-gradient(45deg, rgba($BackgroundBlue, 0.1) 0%, rgba($BackgroundBlue, 0.1) 100%);
        border: 1px solid $Gray;

        #lp-code-348 {
            height: auto;
            width: 100%;
        }

        .hbspt-form {
            width: 100%;
            height: auto;
            min-height: 390px;
            padding: 10px;

            .hs-form-field {
                width: 100%;
                float: left;
                margin: 10px auto;

                &.hs_nyop {
                    width: calc(100% - 30px);
                }

                .input {
                    input {
                        @extend %input;
                    }
                }
            }
            .hs-fieldtype-radio {
                @extend %slideToggle;

                .hs-form-radio-display {
                    span {
                        &:before {
                            border: 3px solid $PrimaryBlue;
                            content: "";
                            background: $PrimaryWhite;
                        }
                    }
                    input {
                        &:checked {
                            &~span:before {
                                border: 3px solid darken($PrimaryBlue, 5%);
                                background: $PrimaryBlue;
                            }
                        }
                    }
                }

                .input {
                    li.hs-form-radio {

                        label {

                            #if_you_accept_my_offer0-7eaaeb92-f486-4996-adff-448c9b276b0c {
                                &:checked~.switch_indicator {
                                    background: $CoffeeMugGreen;
                                    transform: translate3d(1rem, 0, 0);
                                }
                            }
                            #if_you_accept_my_offer1-7eaaeb92-f486-4996-adff-448c9b276b0c {
                                &:checked~.switch_indicator {
                                    background: $CoffeeMugGreen;
                                    transform: translate3d(1rem, 0, 0);
                                }
                            }
                        }
                    }
                }
            }
            .hs-input[type="radio"] {
                @extend %slideToggle;
            }
            .hs_submit {
                .hs-button {
                    @extend %button;
                    width: calc(100% - 30px);
                    margin: 0px;
                    background: linear-gradient(0deg, rgba($BackgroundBlue, 1), rgba(darken($BackgroundBlue, 10%), 1));
                }
            }
            @extend %input
        }
    }
}