@import "base";

#lp-pom-root {
    &,
    a,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    span {
        font-family: Roboto !important;
    }

    @for $i from 1 through 6 {
        h#{$i} {
            color: $PrimaryBlue;
        }
    }

    #lp-pom-box-354 {
        display: block; // background: linear-gradient(45deg, rgba($BackgroundBlue, 0.1) 0%, rgba($BackgroundBlue, 0.1) 100%);
        border: none;
        background: transparent;

        #lp-code-348 {
            height: auto;
            width: 100%;
            background: linear-gradient(
                45deg,
                rgba(200, 200, 250, 0.2),
                rgba(230, 240, 250, 0.4),
                rgba(200, 200, 250, 0.2)
            );
            padding: 0 15px 30px;
            top: 0px;
            left: 0px;
            box-sizing: border-box;
            border: 1px solid #ddd;
        }

        .hbspt-form {
            width: 100%;
            height: auto;
            min-height: 390px;
            padding: 10px;

            label {
                font-family: Roboto;
                font-size: 0.9rem;
            }
            .hs-form-field {
                width: 100%;
                float: left;
                margin: 10px auto;

                &.hs_nyop {
                    width: calc(100% - 30px);
                }

                .input {
                    input {
                        @extend %input;
                    }
                }
            }
            .hs-fieldtype-radio {
                // @extend %slideToggle;
                //
                input {
                    display: none;
                }
                .hs-form-radio {
                    label span {
                        margin-left: 25px;
                        margin-top: 10px;
                    }
                }
                .hs-form-radio-display {
                    span {
                        &:before {
                            border: 3px solid $DarkBlue;
                            content: "";
                            background: $PrimaryWhite;
                            position: absolute;
                            border-radius: 50%;
                            margin-top: 0px;
                            left: 25px;
                            height: 1rem;
                            width: 1rem;
                            transition: all 0.25s ease-in-out;
                        }
                    }
                    input {
                        &:checked {
                            & ~ span:before {
                                border: 3px solid darken($CTAButtonGreen, 5%);
                                background: linear-gradient(
                                    $CTAButtonGreen,
                                    lighten($CTAButtonGreen, 10%)
                                );
                                font-family: icomoon;
                                content: fa-content($fa-var-check);
                                color: $PrimaryWhite;
                                text-shadow: 1px 2px 10px $CTAButtonGreen;
                                font-size: 0.8rem;
                                transition: all 0.25s ease-in-out;
                            }
                        }
                    }
                }
            }
            .hs-input[type="radio"] {
                @extend %slideToggle;
            }
            .hs_submit {
                .hs-button {
                    @extend %button;
                    width: calc(100% - 30px);
                    margin: 0px;
                    background: linear-gradient(
                        0deg,
                        rgba($BackgroundBlue, 1),
                        rgba(darken($BackgroundBlue, 10%), 1)
                    );
                }
            }
            @extend %input;
        }
    }
}
