%button {
    display: inline-block;
    margin: 0 10px;
    box-shadow: inset 0 0 0 0;
    font-size: 16px;
    line-height: 170%;
    padding: 0;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    text-decoration: none;
    outline: 0;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 2.3px;
    text-align: center;
    float: left
}