.loader {
	position: fixed;
	height: 100%;
	width: 100%;
	z-index: 999999;
	overflow: hidden;
	background: linear-gradient(160deg, $PrimaryBlue, $MediumBlue, $OceanBlue);
	background-size: 400%;
	animation: colorChange 10s ease infinite;
}

@keyframes colorChange {
	0% {
		background-position: 38% 0;
	}
	50% {
		background-position: 63% 100%;
	}
	100% {
		background-position: 38% 0;
	}
}
